/* General Styles */
.landing-page {
    box-sizing: border-box;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
}

.quiz-status {
    box-sizing: border-box;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    min-height: 80vh;
}

.your-quizzes {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 65%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
    color: black;
    padding: 1.5rem;
}

.quiz-btn {
    margin-top: 4rem;
    width: 80%;
    margin-left: 10%;
    font-size: 1rem;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(0, 139, 123);
    text-align: center;
    color: white;
    transition: background 0.3s;
}

.quiz-btn:hover {
    background-color: rgb(0, 77, 68);
}

.your-quizzes > h2 {
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.quizs-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 10px;
    margin-top: 1rem;
    
}

.quizs-card {
    margin-top: 1rem;
    width: 120px;
    aspect-ratio: 1 / 1;
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
    transition: background 0.6s, transform 0.2s;
}

.quizs-card:hover {
    background-color: rgb(9, 133, 118);
    color: white;
    transform: scale(1.05);
}

.card-heading {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

.number-of-quiz {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.assigned-quizzes {
    box-sizing: border-box;
    width: 30%;
    border-radius: 8px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    font-size: 1rem;
    max-height: 70vh;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;    
    scrollbar-width: thin;
    scrollbar-color: rgb(9, 133, 118) #f1f1f1;
}

.assigned-quizzes::-webkit-scrollbar {
    width: 6px;
}

.assigned-quizzes::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.assigned-quizzes::-webkit-scrollbar-thumb {
    background: rgb(9, 133, 118)f;
    border-radius: 10px;
}

.assigned-quizzes::-webkit-scrollbar-thumb:hover {
    background: rgb(9, 133, 118);
}

.aq-heading {
    padding-top: 10px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    width: 100%;
    font-weight: bold;
    border-bottom: 1px solid black;
    background-color: white;
    text-align: center;
}

.aq-type{    
    margin-top: 5px;
    display: flex;
    border-top: 2px solid rgb(0, 0, 0);
}

.aq-type div {
    padding: 10px 0px;
    width: 50%;
    text-align: center;
    color: gray;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.aq-all{
    border-right: 1px solid black;
}

.aq-all.selected,
.aq-assigned.selected{
    background-color: rgb(9, 133, 118);
    color: white;
    border-color: white;
}

.aq-all:hover,
.aq-assigned:hover{
    background-color: rgb(9, 133, 118);
    color: white;
}


/* Responsive Design */
@media (max-width: 768px) {
    .quiz-status {
        flex-direction: column;
        align-items: center;
    }

    .your-quizzes,
    .assigned-quizzes {
        width: 90%;
    }

    .quizs-card {
        width: 100px;
    }
}
