.quiz-page{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #dfe0df;
}

.action-bar{
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: #006e61;
  color: white;
}

.action{
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid white;
  padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
    width: 5%;
}

.action:nth-child(1):hover{
  background-color: #00a990;
  color: black;
}

.action:nth-child(2){
    text-align: center;
}

.action:nth-child(2):hover{
    background-color: rgb(172, 0, 210);
  }

.quiz-create{
    width: 100%;
  display: flex;
  box-sizing: border-box;
}
.no-of-questions{
    width: 5%;
    min-width: min-content;
    background-color: white;
    height: 90vh;
    border-right: 2px solid #006e61;
    /* overflow-y: scroll;
    scroll-behavior: smooth; */    
}
.que-heading{
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
    border-bottom: 1px solid #006e61;
    color: black;
}
.questions-count{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: black;
}

.que-count{
    background-color: #dfe0df;
    width: 2.5rem;
    height: 2rem;
    border-radius: 50%;
    text-align: center;
    padding-top: 0.5rem;
    margin: 2px;
    cursor: pointer;
}

.que-count:hover{
    background-color: #006e61;
    color: white;
}

.add-question{
    width: 70%;
    background-color: white;
    height: 75vh;
    margin: auto;
    border-radius: 1rem;
    padding: 1rem 2rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.question-type{
    margin: 1rem 0;
    font-weight: bold;
}

.question{
    width: 100%;
    background-color: transparent;
    border: none;    
    border-bottom: 1px solid #006e61;
    color: black;
    font-size: 1rem;
    outline: none;
}

.options{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem 0;   
    width: 100%; 
}


.option{
    box-sizing: border-box;
    border: 1px solid #006e61;
    margin: 0.5rem;
    width: 50%;
    color: #454545;
    font-weight: 400;
    cursor: text;    
    padding: 0.5rem 1rem;
    width: 50%;
    background-color: transparent;
}

.option:nth-child(1){
    border-color: rgb(5, 234, 5);
    outline: none;
}


.save-next{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.save-next button{
    border: 1px solid #00a990;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 1rem;
    width: 10%;
    text-align: center;
    color: #006e61;
    font-weight: bold;
    background-color: transparent;
}

.save-next button:hover{
    background-color: #00a990;
    color: white;
}