.attend-quiz {
    margin-top: 1rem;
    cursor: pointer;
    box-sizing: border-box;
    width: 90%;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.attend-quiz:hover{
    background-color: #ececec;
}

.q-detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 14px;
    color: #555;
    border-bottom: 1px solid;
    flex-wrap: wrap;
}

.q-type {
    font-weight: bold;
    color: rgb(9, 133, 118);
}

.creator-name {
    font-weight: bold;
}

.q-desc {
    font-size: 16px;
    color: #333;
}

.quiz-msg{
    margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 500px) {    

    .q-detail {
        flex-direction: column;
        align-items: flex-start;
    }
}
